@{
    ViewBag.Title = "Inicio";
}

<div class="espacamento">
</div>

<div class="row">
    <div class="col col-md-5 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Entrar</div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="exampleInputEmail1">Usuario</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="usuario">
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="exampleInputPassword1">Senha</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="senha">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>