@{
    ViewBag.Title = "Inicio";
}

<div class="espacamento">
</div>

<div class="row">
    <div class="col col-md-5 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading">Opções</div>
            <div class="panel-body">
                <a href="@Url.Action("Login", "Account")">
                    <button class="btn-primary">Entrar</button>
                </a>
                <a href="@Url.Action("Register", "Account")">
                    <button class="btn-primary">Cadastrar</button>
                </a>
            </div>
        </div>
    </div>
</div>